@model IEnumerable<ET.ProgramDetails>

@{
    ViewBag.Title = "Detalle del programa";
}

<h2>@ViewBag.Title para el @ViewBag.PDate a las @ViewBag.PSchedule.</h2>

@if (ViewBag.Status == false)
    {
        <p>
            <a id="BtnNew" class="button small" href="@Url.Action("AddSong","Programs", new { id = ViewBag.PID })">Agregar Canción</a>
        </p>
    }
    else
    {
        <p></p>
    }
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProgramID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SongID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActiveFlag)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProgramID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SongsData.SongName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorsData.AuthorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActiveFlag)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SPID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SPID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SPID })
        </td>
    </tr>
}

</table>
