@model IEnumerable<ET.AppDirectory>
@{
    ViewBag.Title = "Perfil del Rol";
}

<h2>@ViewBag.Title - @ViewBag.RoleName</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MainClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.MainClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppName)
            </td>

            <td>
                @{var isActive = (item.Status ? "Active" : "Inactive");}
                @Html.DisplayFor(modelItem => isActive)
            </td>
            <td>
                <form method="post" action='@Url.Action("ActiveFlag",new { profileid = item.RARProfileID, roleid = ViewBag.RoleID, appid = item.ApplicationID, status = item.Status })'>
                    <input id="ChangeStatus" type="submit" value="Cambiar de Status" class="button small"/>
                </form>
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Regresar a la lista...", "Index", new { controller = "Roles" }, new { @class = "button alt"})
</p>