@model ET.Users

@{
    ViewBag.Title = "Modificar";
}

<h2>@ViewBag.Title - Usuario: @ViewBag.UserName</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserID)
        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.Email)
        @Html.HiddenFor(model => model.AuthorizationFlag)
        @Html.HiddenFor(model => model.Password)

        <div class="form-group">
            @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="12u$">
            @Html.LabelFor(model => model.ActiveFlag, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="select-wrapper">
                @{
                    var statuslist = new List<SelectListItem>
                                                {
                                      new SelectListItem {Text="Active",Value="true"},
                                      new SelectListItem {Text="Inactive",Value="false"}
                                    };
                }
                @Html.DropDownList("ActiveFlag", new SelectList(statuslist, "Value", "Text", ViewBag.ActiveFlag))
                @Html.ValidationMessageFor(model => model.ActiveFlag, "", new { @class = "text-danger" })

            </div>
        </div>
        <div class="12u$">
            @Html.LabelFor(model => model.RoleID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="select-wrapper">
                @Html.DropDownListFor(model => model.RoleID, new SelectList(Model.RolesList, "RoleID", "RoleName"), "Seleccionar Rol")
                @Html.ValidationMessageFor(model => model.RoleID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                <input type="button" value="Cancel" onclick="javascript: history.go(-1);" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
