@using Microsoft.AspNet.Identity
<!DOCTYPE HTML>
<html>
<head>
    <title>MM Oasis Alajuela</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/assets/css/css")

</head>

<body>
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <!-- Header -->
    @*<header id="header" class="alt">
        <div class="logo"><a href="~/Home/Index">Ministerio <span>Musical</span></a></div>
        <a href="#menu">Menu</a>
    </header>*@

    <!-- Nav -->
    @*<nav id="menu" name="menu">
        @Html.Partial("_LoginPartial")
    </nav>*@


    <!-- Two -->
    <section id="two" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <p style="font-size: 10px;">Amamos al Espíritu Santo</p>
                <h2 style="font-size: 22px;">Ministerio Musical - Oasis Alajuela</h2>
            </header>
        </div>
    </section>

    <!-- Three -->
    <section id="three" class="wrapper style2" style="padding: 1rem;">
        @RenderSection("featured", required: false)
        <div class="container body-content">
            @RenderBody()
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/IGLEOA/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
        </div>
        <div class="copyright">
            Oasis Alajuela &copy; @DateTime.Now.Year - Ministerio Musical
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/assets/js/skel.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>