@model IEnumerable<ET.Roles>

@{
    ViewBag.Title = "Index";
}


<h2>@ViewBag.Title</h2>
<div>
    <hr />
    <p>
        @Html.ActionLink("Crear nuevo", "Create")
    </p>
    <table>
        <tr>
            <th>Perfil</th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActiveFlag)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href='@Url.Action("Index","AppDirectory", new { RoleID = item.RoleID })'>
                        <img src="~/images/profile.png" style="width: 30px; vertical-align: middle;"/>
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleDescription)
                </td>
                <td>
                    @{var isActive = (item.ActiveFlag ? "Activo" : "Inactivo");}
                    @Html.DisplayFor(modelItem => isActive)
                </td>
                <td>
                    <form method="post" action='@Url.Action("ActiveFlag",new { id = item.RoleID, status = item.ActiveFlag})'>
                        <input id="ChangeStatus" type="submit" value="Activar/Inactivar" class="button small"/>
                    </form>
                </td>
            </tr>
        }

    </table>
</div>